<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.AdministrativeLedgerMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.AdministrativeLedger">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company" jdbcType="INTEGER" property="company" />
    <result column="area_land_id" jdbcType="INTEGER" property="areaLandId" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="payable_amount" jdbcType="DECIMAL" property="payableAmount" />
    <result column="pay_condition" jdbcType="VARCHAR" property="payCondition" />
    <result column="signatory" jdbcType="VARCHAR" property="signatory" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pay_total" jdbcType="DECIMAL" property="payTotal" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="file_box_id" jdbcType="VARCHAR" property="fileBoxId" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company, area_land_id, subject_id, name, content, payable_amount, pay_condition, 
    signatory, sign_time, linkman, phone, pay_total, department_id, user_id, file_box_id, 
    file_id, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_ledger_administrative
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_ledger_administrative
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.AdministrativeLedger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_ledger_administrative (company, area_land_id, subject_id, 
      name, content, payable_amount, 
      pay_condition, signatory, sign_time, 
      linkman, phone, pay_total, 
      department_id, user_id, file_box_id, 
      file_id, remark, create_time, 
      update_time)
    values (#{company,jdbcType=INTEGER}, #{areaLandId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{payableAmount,jdbcType=DECIMAL}, 
      #{payCondition,jdbcType=VARCHAR}, #{signatory,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, 
      #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{payTotal,jdbcType=DECIMAL}, 
      #{departmentId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{fileBoxId,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.s4game.oa.common.entity.AdministrativeLedger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_ledger_administrative
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="company != null">
        company,
      </if>
      <if test="areaLandId != null">
        area_land_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="payableAmount != null">
        payable_amount,
      </if>
      <if test="payCondition != null">
        pay_condition,
      </if>
      <if test="signatory != null">
        signatory,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="payTotal != null">
        pay_total,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileBoxId != null">
        file_box_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="company != null">
        #{company,jdbcType=INTEGER},
      </if>
      <if test="areaLandId != null">
        #{areaLandId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="payableAmount != null">
        #{payableAmount,jdbcType=DECIMAL},
      </if>
      <if test="payCondition != null">
        #{payCondition,jdbcType=VARCHAR},
      </if>
      <if test="signatory != null">
        #{signatory,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="payTotal != null">
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="fileBoxId != null">
        #{fileBoxId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.s4game.oa.common.entity.AdministrativeLedger">
    update oa_ledger_administrative
    <set>
      <if test="company != null">
        company = #{company,jdbcType=INTEGER},
      </if>
      <if test="areaLandId != null">
        area_land_id = #{areaLandId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="payableAmount != null">
        payable_amount = #{payableAmount,jdbcType=DECIMAL},
      </if>
      <if test="payCondition != null">
        pay_condition = #{payCondition,jdbcType=VARCHAR},
      </if>
      <if test="signatory != null">
        signatory = #{signatory,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="payTotal != null">
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="fileBoxId != null">
        file_box_id = #{fileBoxId,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.AdministrativeLedger">
    update oa_ledger_administrative
    set company = #{company,jdbcType=INTEGER},
      area_land_id = #{areaLandId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      payable_amount = #{payableAmount,jdbcType=DECIMAL},
      pay_condition = #{payCondition,jdbcType=VARCHAR},
      signatory = #{signatory,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      linkman = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pay_total = #{payTotal,jdbcType=DECIMAL},
      department_id = #{departmentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      file_box_id = #{fileBoxId,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_ledger_administrative
  </select>
  
</mapper>