<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.ContractLedgerMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.ContractLedger">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contract_file" jdbcType="VARCHAR" property="contractFile" />
    <result column="contract_state" jdbcType="SMALLINT" property="contractState" />
    <result column="company" jdbcType="SMALLINT" property="company" />
    <result column="area_land_id" jdbcType="INTEGER" property="areaLandId" />
    <result column="income_type" jdbcType="SMALLINT" property="incomeType" />
    <result column="develop_type" jdbcType="SMALLINT" property="developType" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_serial" jdbcType="VARCHAR" property="contractSerial" />
    <result column="contract_content" jdbcType="VARCHAR" property="contractContent" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="contract_amount_state" jdbcType="VARCHAR" property="contractAmountState" />
    <result column="contract_pay_condition" jdbcType="VARCHAR" property="contractPayCondition" />
    <result column="signatory" jdbcType="VARCHAR" property="signatory" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="timelimit" jdbcType="VARCHAR" property="timelimit" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="bid_type" jdbcType="SMALLINT" property="bidType" />
    <result column="relate_approve_file" jdbcType="VARCHAR" property="relateApproveFile" />
    <result column="solution_file" jdbcType="VARCHAR" property="solutionFile" />
    <result column="budget_approve_file" jdbcType="VARCHAR" property="budgetApproveFile" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="relate_department" jdbcType="VARCHAR" property="relateDepartment" />
    <result column="finance_register" jdbcType="VARCHAR" property="financeRegister" />
    <result column="operate_register" jdbcType="VARCHAR" property="operateRegister" />
    <result column="performance_amount" jdbcType="DECIMAL" property="performanceAmount" />
    <result column="settle_amount" jdbcType="DECIMAL" property="settleAmount" />
    <result column="premium_amount" jdbcType="DECIMAL" property="premiumAmount" />
    <result column="performance_evaluate" jdbcType="VARCHAR" property="performanceEvaluate" />
    <result column="paid_amount" jdbcType="DECIMAL" property="paidAmount" />
    <result column="paid_percent" jdbcType="VARCHAR" property="paidPercent" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="file_box_id" jdbcType="VARCHAR" property="fileBoxId" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_ledger_contract
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.ContractLedger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_ledger_contract (contract_file, contract_state, company, 
      area_land_id, income_type, develop_type, 
      subject_id, contract_name, contract_serial, 
      contract_content, contract_amount, contract_amount_state, 
      contract_pay_condition, signatory, sign_time, 
      timelimit, linkman, phone, 
      bid_type, relate_approve_file, solution_file, 
      budget_approve_file, record, relate_department, 
      finance_register, operate_register, performance_amount, 
      settle_amount, premium_amount, performance_evaluate, 
      paid_amount, paid_percent, department_id, 
      user_id, file_box_id, file_id, 
      remark, create_time, update_time
      )
    values (#{contractFile,jdbcType=VARCHAR}, #{contractState,jdbcType=SMALLINT}, #{company,jdbcType=SMALLINT}, 
      #{areaLandId,jdbcType=INTEGER}, #{incomeType,jdbcType=SMALLINT}, #{developType,jdbcType=SMALLINT}, 
      #{subjectId,jdbcType=INTEGER}, #{contractName,jdbcType=VARCHAR}, #{contractSerial,jdbcType=VARCHAR}, 
      #{contractContent,jdbcType=VARCHAR}, #{contractAmount,jdbcType=DECIMAL}, #{contractAmountState,jdbcType=VARCHAR}, 
      #{contractPayCondition,jdbcType=VARCHAR}, #{signatory,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, 
      #{timelimit,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{bidType,jdbcType=SMALLINT}, #{relateApproveFile,jdbcType=VARCHAR}, #{solutionFile,jdbcType=VARCHAR}, 
      #{budgetApproveFile,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR}, #{relateDepartment,jdbcType=VARCHAR}, 
      #{financeRegister,jdbcType=VARCHAR}, #{operateRegister,jdbcType=VARCHAR}, #{performanceAmount,jdbcType=DECIMAL}, 
      #{settleAmount,jdbcType=DECIMAL}, #{premiumAmount,jdbcType=DECIMAL}, #{performanceEvaluate,jdbcType=VARCHAR}, 
      #{paidAmount,jdbcType=DECIMAL}, #{paidPercent,jdbcType=VARCHAR}, #{departmentId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{fileBoxId,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.ContractLedger">
    update oa_ledger_contract
    set contract_file = #{contractFile,jdbcType=VARCHAR},
      contract_state = #{contractState,jdbcType=SMALLINT},
      company = #{company,jdbcType=SMALLINT},
      area_land_id = #{areaLandId,jdbcType=INTEGER},
      income_type = #{incomeType,jdbcType=SMALLINT},
      develop_type = #{developType,jdbcType=SMALLINT},
      subject_id = #{subjectId,jdbcType=INTEGER},
      contract_name = #{contractName,jdbcType=VARCHAR},
      contract_serial = #{contractSerial,jdbcType=VARCHAR},
      contract_content = #{contractContent,jdbcType=VARCHAR},
      contract_amount = #{contractAmount,jdbcType=DECIMAL},
      contract_amount_state = #{contractAmountState,jdbcType=VARCHAR},
      contract_pay_condition = #{contractPayCondition,jdbcType=VARCHAR},
      signatory = #{signatory,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      timelimit = #{timelimit,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      bid_type = #{bidType,jdbcType=SMALLINT},
      relate_approve_file = #{relateApproveFile,jdbcType=VARCHAR},
      solution_file = #{solutionFile,jdbcType=VARCHAR},
      budget_approve_file = #{budgetApproveFile,jdbcType=VARCHAR},
      record = #{record,jdbcType=VARCHAR},
      relate_department = #{relateDepartment,jdbcType=VARCHAR},
      finance_register = #{financeRegister,jdbcType=VARCHAR},
      operate_register = #{operateRegister,jdbcType=VARCHAR},
      performance_amount = #{performanceAmount,jdbcType=DECIMAL},
      settle_amount = #{settleAmount,jdbcType=DECIMAL},
      premium_amount = #{premiumAmount,jdbcType=DECIMAL},
      performance_evaluate = #{performanceEvaluate,jdbcType=VARCHAR},
      paid_amount = #{paidAmount,jdbcType=DECIMAL},
      paid_percent = #{paidPercent,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      file_box_id = #{fileBoxId,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, contract_file, contract_state, company, area_land_id, income_type, develop_type, 
    subject_id, contract_name, contract_serial, contract_content, contract_amount, contract_amount_state, 
    contract_pay_condition, signatory, sign_time, timelimit, linkman, phone, bid_type, 
    relate_approve_file, solution_file, budget_approve_file, record, relate_department, 
    finance_register, operate_register, performance_amount, settle_amount, premium_amount, 
    performance_evaluate, paid_amount, paid_percent, department_id, user_id, file_box_id, 
    file_id, remark, create_time, update_time
    from oa_ledger_contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, contract_file, contract_state, company, area_land_id, income_type, develop_type, 
    subject_id, contract_name, contract_serial, contract_content, contract_amount, contract_amount_state, 
    contract_pay_condition, signatory, sign_time, timelimit, linkman, phone, bid_type, 
    relate_approve_file, solution_file, budget_approve_file, record, relate_department, 
    finance_register, operate_register, performance_amount, settle_amount, premium_amount, 
    performance_evaluate, paid_amount, paid_percent, department_id, user_id, file_box_id, 
    file_id, remark, create_time, update_time
    from oa_ledger_contract
  </select>
</mapper>