<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.FinancingLedgerMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.FinancingLedger">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="financing_amount" jdbcType="DECIMAL" property="financingAmount" />
    <result column="total_lending" jdbcType="DECIMAL" property="totalLending" />
    <result column="total_replay_loan" jdbcType="DECIMAL" property="totalReplayLoan" />
    <result column="remain_loan" jdbcType="DECIMAL" property="remainLoan" />
    <result column="deadline" jdbcType="VARCHAR" property="deadline" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="guaranty" jdbcType="VARCHAR" property="guaranty" />
    <result column="key_node" jdbcType="VARCHAR" property="keyNode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_financing_ledger
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.FinancingLedger">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_financing_ledger (year, month, type, 
      bank_id, project_name, amount, 
      financing_amount, total_lending, total_replay_loan, 
      remain_loan, deadline, rate, 
      guaranty, key_node, create_time, 
      update_time)
    values (#{year,jdbcType=INTEGER}, #{month,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{bankId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{financingAmount,jdbcType=DECIMAL}, #{totalLending,jdbcType=DECIMAL}, #{totalReplayLoan,jdbcType=DECIMAL}, 
      #{remainLoan,jdbcType=DECIMAL}, #{deadline,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, 
      #{guaranty,jdbcType=VARCHAR}, #{keyNode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.FinancingLedger">
    update oa_financing_ledger
    set year = #{year,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      bank_id = #{bankId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      financing_amount = #{financingAmount,jdbcType=DECIMAL},
      total_lending = #{totalLending,jdbcType=DECIMAL},
      total_replay_loan = #{totalReplayLoan,jdbcType=DECIMAL},
      remain_loan = #{remainLoan,jdbcType=DECIMAL},
      deadline = #{deadline,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      guaranty = #{guaranty,jdbcType=VARCHAR},
      key_node = #{keyNode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, year, month, type, bank_id, project_name, amount, financing_amount, total_lending, 
    total_replay_loan, remain_loan, deadline, rate, guaranty, key_node, create_time, 
    update_time
    from oa_financing_ledger
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, year, month, type, bank_id, project_name, amount, financing_amount, total_lending, 
    total_replay_loan, remain_loan, deadline, rate, guaranty, key_node, create_time, 
    update_time
    from oa_financing_ledger
  </select>
</mapper>