<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.PlanAssertMonthMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.PlanAssertMonth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assert_id" jdbcType="INTEGER" property="assertId" />
    <result column="assert_name" jdbcType="VARCHAR" property="assertName" />
    <result column="year_total_num" jdbcType="INTEGER" property="yearTotalNum" />
    <result column="bought_num" jdbcType="INTEGER" property="boughtNum" />
    <result column="plan_num" jdbcType="INTEGER" property="planNum" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_plan_assert_month
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_plan_assert_month (assert_id, assert_name, year_total_num, 
      bought_num, plan_num, unit_price, 
      remark, create_time, update_time
      )
    values (#{assertId,jdbcType=INTEGER}, #{assertName,jdbcType=VARCHAR}, #{yearTotalNum,jdbcType=INTEGER}, 
      #{boughtNum,jdbcType=INTEGER}, #{planNum,jdbcType=INTEGER}, #{unitPrice,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    update oa_plan_assert_month
    set assert_id = #{assertId,jdbcType=INTEGER},
      assert_name = #{assertName,jdbcType=VARCHAR},
      year_total_num = #{yearTotalNum,jdbcType=INTEGER},
      bought_num = #{boughtNum,jdbcType=INTEGER},
      plan_num = #{planNum,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, assert_id, assert_name, year_total_num, bought_num, plan_num, unit_price, 
    remark, create_time, update_time
    from oa_plan_assert_month
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, assert_id, assert_name, year_total_num, bought_num, plan_num, unit_price, 
    remark, create_time, update_time
    from oa_plan_assert_month
  </select>
</mapper>