<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.PlanAssertMonthMapper">
<resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.PlanAssertMonth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="year" jdbcType="SMALLINT" property="year" />
    <result column="month" jdbcType="SMALLINT" property="month" />
    <result column="assert_id" jdbcType="INTEGER" property="assertId" />
    <result column="assert_name" jdbcType="VARCHAR" property="assertName" />
    <result column="year_total_num" jdbcType="INTEGER" property="yearTotalNum" />
    <result column="bought_num" jdbcType="INTEGER" property="boughtNum" />
    <result column="plan_num" jdbcType="INTEGER" property="planNum" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, year, month, assert_id, assert_name, year_total_num, bought_num, plan_num, unit_price, 
    remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_plan_assert_month
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_plan_assert_month
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_plan_assert_month (year, month, assert_id, 
      assert_name, year_total_num, bought_num, 
      plan_num, unit_price, remark, 
      create_time, update_time)
    values (#{year,jdbcType=SMALLINT}, #{month,jdbcType=SMALLINT}, #{assertId,jdbcType=INTEGER}, 
      #{assertName,jdbcType=VARCHAR}, #{yearTotalNum,jdbcType=INTEGER}, #{boughtNum,jdbcType=INTEGER}, 
      #{planNum,jdbcType=INTEGER}, #{unitPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_plan_assert_month
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="year != null">
        year,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="assertId != null">
        assert_id,
      </if>
      <if test="assertName != null">
        assert_name,
      </if>
      <if test="yearTotalNum != null">
        year_total_num,
      </if>
      <if test="boughtNum != null">
        bought_num,
      </if>
      <if test="planNum != null">
        plan_num,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="year != null">
        #{year,jdbcType=SMALLINT},
      </if>
      <if test="month != null">
        #{month,jdbcType=SMALLINT},
      </if>
      <if test="assertId != null">
        #{assertId,jdbcType=INTEGER},
      </if>
      <if test="assertName != null">
        #{assertName,jdbcType=VARCHAR},
      </if>
      <if test="yearTotalNum != null">
        #{yearTotalNum,jdbcType=INTEGER},
      </if>
      <if test="boughtNum != null">
        #{boughtNum,jdbcType=INTEGER},
      </if>
      <if test="planNum != null">
        #{planNum,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    update oa_plan_assert_month
    <set>
      <if test="year != null">
        year = #{year,jdbcType=SMALLINT},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=SMALLINT},
      </if>
      <if test="assertId != null">
        assert_id = #{assertId,jdbcType=INTEGER},
      </if>
      <if test="assertName != null">
        assert_name = #{assertName,jdbcType=VARCHAR},
      </if>
      <if test="yearTotalNum != null">
        year_total_num = #{yearTotalNum,jdbcType=INTEGER},
      </if>
      <if test="boughtNum != null">
        bought_num = #{boughtNum,jdbcType=INTEGER},
      </if>
      <if test="planNum != null">
        plan_num = #{planNum,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.PlanAssertMonth">
    update oa_plan_assert_month
    set year = #{year,jdbcType=SMALLINT},
      month = #{month,jdbcType=SMALLINT},
      assert_id = #{assertId,jdbcType=INTEGER},
      assert_name = #{assertName,jdbcType=VARCHAR},
      year_total_num = #{yearTotalNum,jdbcType=INTEGER},
      bought_num = #{boughtNum,jdbcType=INTEGER},
      plan_num = #{planNum,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_plan_assert_month
  </select>
</mapper>