<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.UserProcessMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.UserProcess">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="form_data_id" jdbcType="INTEGER" property="formDataId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="input_date" jdbcType="VARCHAR" property="inputDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="form_key" jdbcType="VARCHAR" property="formKey" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_user_process
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.UserProcess">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_user_process (task_id, user_id, form_data_id, 
      state, deleted, create_id, 
      input_date, remark, form_key, 
      begin_time, expire_time, create_time, 
      update_time)
    values (#{taskId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{formDataId,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT}, #{deleted,jdbcType=BIT}, #{createId,jdbcType=BIGINT}, 
      #{inputDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{formKey,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.UserProcess">
    update oa_user_process
    set task_id = #{taskId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      form_data_id = #{formDataId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=BIT},
      create_id = #{createId,jdbcType=BIGINT},
      input_date = #{inputDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      form_key = #{formKey,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, task_id, user_id, form_data_id, state, deleted, create_id, input_date, 
    remark, form_key, begin_time, expire_time, create_time, update_time
    from oa_user_process
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, task_id, user_id, form_data_id, state, deleted, create_id, input_date, 
    remark, form_key, begin_time, expire_time, create_time, update_time
    from oa_user_process
  </select>
</mapper>