<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="departmentIds" jdbcType="VARCHAR" property="departmentids" />
    <result column="positionIds" jdbcType="VARCHAR" property="positionids" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_user (mobile, username, password, 
      departmentIds, positionIds, room_id, 
      remark, deleted, create_time, 
      update_time)
    values (#{mobile,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{departmentids,jdbcType=VARCHAR}, #{positionids,jdbcType=VARCHAR}, #{roomId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.User">
    update oa_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      departmentIds = #{departmentids,jdbcType=VARCHAR},
      positionIds = #{positionids,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, mobile, username, password, departmentIds, positionIds, room_id, remark, 
    deleted, create_time, update_time
    from oa_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, mobile, username, password, departmentIds, positionIds, room_id, remark, 
    deleted, create_time, update_time
    from oa_user
  </select>

  <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
    select id, mobile, username, password, departmentIds, positionIds, room_id, remark, 
    deleted, create_time, update_time
    from oa_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByMobile" parameterType="String" resultMap="BaseResultMap">
    select id, mobile, username, password, departmentIds, positionIds, room_id, remark, 
    deleted, create_time, update_time
    from oa_user
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  
</mapper>