<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s4game.oa.common.mapper.ZhidiLedgerCostMapper">
  <resultMap id="BaseResultMap" type="com.s4game.oa.common.entity.ZhidiLedgerCost">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="calculate_invest" jdbcType="DECIMAL" property="calculateInvest" />
    <result column="expect_invest" jdbcType="DECIMAL" property="expectInvest" />
    <result column="total_invest" jdbcType="DECIMAL" property="totalInvest" />
    <result column="audit_statistics" jdbcType="DECIMAL" property="auditStatistics" />
    <result column="gov_confirm" jdbcType="DECIMAL" property="govConfirm" />
    <result column="gov_check" jdbcType="DECIMAL" property="govCheck" />
    <result column="uncheck" jdbcType="DECIMAL" property="uncheck" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_ledger_zhidi_cost
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.s4game.oa.common.entity.ZhidiLedgerCost">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_ledger_zhidi_cost (serial_number, area, subject_id, 
      project_name, calculate_invest, expect_invest, 
      total_invest, audit_statistics, gov_confirm, 
      gov_check, uncheck, remark, 
      create_time, update_time)
    values (#{serialNumber,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{projectName,jdbcType=VARCHAR}, #{calculateInvest,jdbcType=DECIMAL}, #{expectInvest,jdbcType=DECIMAL}, 
      #{totalInvest,jdbcType=DECIMAL}, #{auditStatistics,jdbcType=DECIMAL}, #{govConfirm,jdbcType=DECIMAL}, 
      #{govCheck,jdbcType=DECIMAL}, #{uncheck,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.s4game.oa.common.entity.ZhidiLedgerCost">
    update oa_ledger_zhidi_cost
    set serial_number = #{serialNumber,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      calculate_invest = #{calculateInvest,jdbcType=DECIMAL},
      expect_invest = #{expectInvest,jdbcType=DECIMAL},
      total_invest = #{totalInvest,jdbcType=DECIMAL},
      audit_statistics = #{auditStatistics,jdbcType=DECIMAL},
      gov_confirm = #{govConfirm,jdbcType=DECIMAL},
      gov_check = #{govCheck,jdbcType=DECIMAL},
      uncheck = #{uncheck,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, serial_number, area, subject_id, project_name, calculate_invest, expect_invest, 
    total_invest, audit_statistics, gov_confirm, gov_check, uncheck, remark, create_time, 
    update_time
    from oa_ledger_zhidi_cost
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, serial_number, area, subject_id, project_name, calculate_invest, expect_invest, 
    total_invest, audit_statistics, gov_confirm, gov_check, uncheck, remark, create_time, 
    update_time
    from oa_ledger_zhidi_cost
  </select>
</mapper>