*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.classpath
*.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings/
target/

.sencha/
oa-client/build
oa-manager/src/main/java/com/s4game/oa/manager/web/UserController.java

oa-manager/src/main/java/com/s4game/oa/manager/web/UserController.java

oa-manager/src/main/java/com/s4game/oa/manager/service/IUserService.java

oa-manager/src/main/java/com/s4game/oa/manager/service/impl/UserServiceImpl.java

oa-manager/src/main/java/com/s4game/oa/manager/service/IUserService.java

oa-manager/src/main/java/com/s4game/oa/manager/service/impl/UserServiceImpl.java

oa-manager/src/main/java/com/s4game/oa/manager/web/UserController.java

oa-manager/src/main/java/com/s4game/oa/manager/service/IUserService.java

oa-manager/src/main/java/com/s4game/oa/manager/service/impl/UserServiceImpl.java

oa-manager/src/main/java/com/s4game/oa/manager/web/UserController.java

oa-client/build/temp/development/oa/sass/oa-all.scss

oa-client/build/temp/development/oa/sass/oa-all.scss

oa-client/classic.json
